
@import url('import.css0');                                                                                                                                                                                                                                                                                                                                       
p {



    font-size: 25px;
    font-style: bold;
    color: red ;

}